menu "Environment Variables"

config INBUILT_LED_GPIO
    int "Inbuilt LED GPIO Pin"
    default 8

config TEMPERATURE_SENSOR_SDA_GPIO
    int "Temperature Sensor SDA GPIO Pin"
    default 0

config TEMPERATURE_SENSOR_SCL_GPIO
    int "Temperature Sensor SCL GPIO Pin"
    default 1

endmenu
